{% extends 'base.html' %}
{% load static  %}
{% block content %} 









 <div class="divider py-1 bg-light"></div>
</br>
</br>



        <body style=" background-color: black;">






<div class="container bg-dark">



  <div class="row ">
  

    <div class="col">
      <div class="card" style="width: 25rem;">
      <span class="border border-dark border-5"></span>
    
  <img src="{% static 'wiz/images/Yuji.jpg' %}" class="card-img-top" alt="Yuji">
  <div class="card-body">
    <h5 class="card-title">Jujutsu Kaisen</h5>
    <p class="card-text">Series Overview

    </br>
Jujutsu Kaisen (also known as Sorcery Fight, if you’re a nerd), was potentially the anime that surprised me the most from 2020. It began airing in fall 2020, but since the season was two cours long, continued through winter 2021.

Before I get into why this series was surprising, I need to say something about its English title. Sorcery Fight is a bad title. Yes, jujutsu means sorcery. But sorcery is a dumb word. And I’ve literally never met anyone who called this series Sorcery Fight. It’s Jujutsu Kaisen.
</br>
</br>
</br>

 .</p>
    <a href="https://doublesama.com/2021/06/17/jujutsu-kaisen/" class="btn btn-primary">Jujutsu Kaisen</a>
  </div>
</div>
    </div>
    
    
    </br>
    </br>
   
   
    
    
    
    <div class="col order-5">
      <div class="card" style="width: 25rem;">
        <span class="border border-dark border-5"></span>
  <img src="{% static 'wiz/images/Demon.jpg' %}" class="card-img-top" alt="Tanjiro Kamada">
  <div class="card-body">
    <h5 class="card-title">Demon Slayer</h5>
    <p class="card-text">

    </br>

    Demon Slayer: Kimetsu no Yaiba (鬼滅の刃, Kimetsu no Yaiba, "Blade of Demon Destruction"[4]) is a Japanese manga series written and illustrated by Koyoharu Gotouge. It follows teenage Tanjiro Kamado, who strives to become a demon slayer after his family was slaughtered and his younger sister Nezuko turned into a demon. It was serialized in Shueisha's shōnen manga magazine Weekly Shōnen Jump from February 2016 to May 2020, with its chapters collected in twenty-three tankōbon volumes. It has been published in English by Viz Media and simulpublished by Shueisha on their Manga Plus platform.

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
    
    
    
    </p>
    <a href="https://blog.sakugabooru.com/2019/08/15/kimetsu-no-yaiba-the-power-of-ufotables-harmony/" class="btn btn-primary">Demon Slayer</a>
  </div>
</div>
</div>


   
    <div class="col order-1">
        <div class="card" style="width: 25rem;">
          <span class="border border-dark border-5"></span>
  <img src="{% static 'wiz/images/Levii.jpg' %}" class="card-img-top" alt="Yuji">
  <div class="card-body">
    <h5 class="card-title">Attack on Titain</h5>
    <p class="card-text">Series Overview

    </br>

    Attack on Titan (進撃の巨人 Shingeki no Kyojin?, lit. "Advancing Giant(s)") is an anime series based on the manga of the same name by Hajime Isayama. It was produced by Wit Studio and Production I.G for the first three seasons and by MAPPA for the fourth. The first season began airing in Japan on April 7, 2013, on Mainichi Broadcasting System.
Funimation licensed the series for an English release and home video and also streams the series on its website, along with Crunchyroll.[1][2][3] The series is also streamed by AnimeLab in Tokyo, Chicago, Australia, and New Zealand.[4]

</br>
</br>



</p>
    <a href="https://attackontitan.fandom.com/wiki/Attack_on_Titan_(Anime)" class="btn btn-primary">AOT</a>
  </div>
</div>
    </div>
    
  
 
    <div class="col order-1">
      <div class="card" style="width: 25rem;">

        <span class="border border-dark border-5"></span>
  <img src="{% static 'wiz/images/James.jpg' %}" class="card-img-top" alt="James">
  <div class="card-body">
    <h5 class="card-title">Moriarty the Patriot</h5>
    <p class="card-text">
    
    </br>

    Moriarty the Patriot (Japanese: 憂国のモリアーティ, Hepburn: Yūkoku no Moriāti) is a Japanese mystery manga series written by Ryōsuke Takeuchi and illustrated by Hikaru Miyoshi, based on Arthur Conan Doyle's Sherlock Holmes series. It is a prequel, focusing on the youth of Holmes' nemesis, mathematics prodigy, William James Moriarty. An anime television series adaptation by Production I.G aired from October 2020 to June 2021.

</br>
</br>
</br>

   

   </br>

   
    </p>
    <a href="https://bakerstreet.fandom.com/wiki/Moriarty_the_Patriot" class="btn btn-primary"> Moriarty the Patriot</a>
  </div>
</div>
    </div>


    <div class="col order-first">
       <div class="card" style="width: 25rem;">
         <span class="border border-dark border-5"></span>
  <img src="{% static 'wiz/images/Full.jpg' %}" class="card-img-top" alt="Full">
  <div class="card-body">
    <h5 class="card-title">Fullmetal Alchemist
</h5>
    <p class="card-text">
    
    </br>

    Fullmetal Alchemist (Japanese: 鋼の錬金術師,  The steampunk world of Fullmetal Alchemist is primarily styled after the European Industrial Revolution. Set in the early 20th century, in a fictional universe in which alchemy is a widely practiced science, the series follows the journey of two alchemist brothers, Edward and Alphonse Elric, who are searching for the philosopher's stone to restore their bodies after a failed attempt to bring their mother back to life using alchemy.
   

   </br>

   
    </p>
    <a href="https://en.wikipedia.org/wiki/Fullmetal_Alchemistt" class="btn btn-primary">  Fullmetal Alchemist</a>
  </div>
</div>
    </div>
     



 
   
      





   

 

 <div class="col order-first">
       <div class="card" style="width: 25rem;">
         <span class="border border-dark border-5"></span>
  <img src="{% static 'wiz/images/Asta.jpg' %}" class="card-img-top" alt="Full">
  <div class="card-body">
    <h5> <class="card-title">Black Clover</h5>
    <p class="card-text">
    
    </br>

    Black Clover (Japanese: ブラッククローバー, Hepburn: Burakku Kurōbā) is a Japanese manga series written and illustrated by Yūki Tabata. The story centers around Asta, a young boy born without any magic power. This is unknown to the world he lives in because seemingly everyone has some sort of magic power. With his fellow mages from the Black Bulls, Asta plans to become the next Wizard King. It has been serialized in Shueisha's Weekly Shōnen Jump magazine since February 2015, with its chapters collected in 30 tankōbon volumes as of October 2021.

   </br>

   </br>

   
    </p>
    <a href="https://en.wikipedia.org/wiki/Black_Clover" class="btn btn-primary">Black Clover</a>
  </div>
</div>
    </div>

    </div>
    </div>


    </br>
    </br>
    </br>
    </br>

    
    <div class="divider py-1 bg-light"></div>
    


    <!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
 Heya!!
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Buy Us A kofi!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> If you liked our Content, pleae buy us Kofi!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

     













{% endblock content %}